
/* .nav justify-content-end>li{
    border-right: 1px solid #000;
  } */
  /*
  .contact-us
  {
      /* background-color: #fbc219; */
      /* background-color: #fbc219;
      border-radius: 2px; */
      
  /* }
  button
  {
      
    border-color:#fbc219;
    box-shadow: none ;
    /* padding: 0.05% 0.0001%; */
    /* padding: 0.05% 0.0001%;
    height: 90%;
  } */ */ */
 
 
 a:link
{
    color:white;
}
a:visited
{
    color:white;
}
a:hover
{
    color:white;
}
a:active
{
    color:white;
}
li {
    font-size: 1rem;
    line-height: 19px; letter-spacing: 0em;
    display: block;
   
}
