nav
{
    margin:0px;
    overflow:hidden;
    background-color:rgba(0, 0, 0, 1);
    height: 5rem;
   
}
body
{
    padding: 0px;
}
.home
{
    height:100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("background_img.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    
    background-blend-mode: darken;

}
.ROBOCON
{
   background: url(background.jpg);
   height:1121.3px;
   background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* margin-top: 18%; */

}
header
{
    padding-top: 4.5%;
    padding-right: 10%;
}
/* .contact-us
{
    /* background-color: #fbc219; */
    /* border-radius: 2px; */
    
    
 */
a:link
{
    color:white;
}
a:visited
{
    color:white;
}
a:hover
{
    color:white;
}
a:active
{
    color:white;
}
button
{
    /* border-color:#fbc219; */
    box-shadow: 10px 10px ;
    padding: 0.05% 0.0001%;
    height: 27%;
    
}

li {
    font-size: 1.6rem;
    line-height: 19px; letter-spacing: 0em;
    display: block;
   
}
.nav justify-content-end>li{
    border-right: 1px solid #000;
  }
hr
{
    height: 100px;
    color:#fbc219;
}
/* #center1
{
    width: 50.9611px; 
    height: 40.0777px;
    align-items:center;
} */
/* #center2
{
    width: 120.608px; height: 120.723px
} */
#title
{
    font-weight: 800;
    font-style: normal;
    color: rgb(251, 194, 25);
    font-size:70px;

}
.neonText {
    font-size: 80px;
  color: rgba(254,220,119,1);
  font-size: 80px;
  backdrop-filter: blur(3px);


  text-align: center;

  text-shadow: 0 0 10px #ffe, 0 0.3 20px #ffe, 0 0 30px rgba(254,220,119,1), 0 0 40px rgba(254,220,119,1) , 0 0 50px rgba(254,220,119,1), 0 0 60px rgba(254,220,119,1), 0 0 70px rgba(254,220,119,1);

  /* -webkit-animation: glow 15s ease-in-out infinite alternate;
  -moz-animation: glow 15s ease-in-out infinite alternate;
  animation: glow 15s ease-in-out infinite alternate;
 
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgba(254,220,119,1), 0 0 40px rgba(254,220,119,1) , 0 0 50px rgba(254,220,119,1), 0 0 60px rgba(254,220,119,1), 0 0 70px rgba(254,220,119,1);
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px rgba(254,220,119,1), 0 0 40px rgba(254,220,119,1), 0 0 50px rgba(254,220,119,1), 0 0 60px rgba(254,220,119,1), 0 0 70px rgba(254,220,119,1), 0 0 80px rgba(254,220,119,1);
    } */
  }
/* #arrow
{
    position: relative;
    top: 0;
    left: 0;
    
    width: 3%;
    height: 3%;
    align-content: center;
    transform: rotate(180deg);
    
} */
.mainimg
{
    width: 40%;
    height: 50%;
    align-items:center;

}
.images
{
    margin-left: 40%;
    margin-right:30%;
    padding-top: 0.5rem;
   
}
nav
{
    padding-top: 2%;
    padding-right:4%;
}
.yeltxt
{
    color: rgba(254,220,119,1);
    font-size: 1.8rem;
}
.whitetxt
{
    color:white;
    font-size: 1.8rem;
}
.para
 {
    color: white;
    font-style: normal;
    font-weight: 750;
    padding: 5px 100px; /*150*/
    font-size:20px; 

 }
 .header
 {
     padding-top: 4.5%;
     padding-right: 10%;
     color:#fbc219;
 }