body
{
   background: url(background.jpg);

}
.nav justify-content-end>li{
    border-right: 1px solid #000;
  }
  header
  {
      padding-top: 4.5%;
      padding-right: 10%;
  }
  .contact-us
  {
      /* background-color: #fbc219; */
      background-color: #fbc219;
      border-radius: 2px;
      
  }
  button
  {
      
    border-color:#fbc219;
    box-shadow: none ;
    /* padding: 0.05% 0.0001%; */
    padding: 0.05% 0.0001%;
    height: 90%;
  }
 .header
 {
  padding: 15px 15px 15px 15px;
  text-align: center;
  background: rgb(251, 194, 25);
  color: white;
  font-size: 30px;
  width: 20%;
  height:10%;
  font-weight: 500;
  border-radius: 8px;
  margin: 2% 5%;
  font-stretch: extra-stretch;
  
  

  

 }
 .para
 {
    color: white;
    font-style: normal;
    font-weight: 750;
    padding: 5px 100px; /*150*/
    font-size:larger;

 }
 a:link
{
    color:white;
}
a:visited
{
    color:white;
}
a:hover
{
    color:white;
}
a:active
{
    color:white;
}
li {
    font-size: 1rem;
    line-height: 19px; letter-spacing: 0em;
    display: block;
   
}
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
  .gfg-div {
    width: 400px;
    height: 400px;
    /* background-color: orange;
    color: black; */
  }
}
 
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {
  .gfg-div {
    width: 200px;
    height: 200px;
    /* background-color: red;
    color: #fff; */
  }
}
 
/* For Mobile Landscape View */
@media screen and (max-device-width: 640px)
and (orientation: landscape) {
  .gfg-div {
    width: 400px;
    height: 200px;
    /* background-color: cyan;
    color: black; */
  }
}
 
/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  .gfg-div {
    width: 400px;
    height: 200px;
    /* background-color: chartreuse;
    color: black; */
  }
}
 
/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
  .gfg-div {
    width: 400px;
    height: 400px;
    /* background-color: brown;
    color: black; */
  }
}
 
/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
  .gfg-div {
    width: 400px;
    height: 400px;
    /* background-color: cornflowerblue;
    color: black; */
  }
}
 
/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px)
and (-webkit-min-device-pixel-ratio: 3) {
  .gfg-div {
    width: 400px;
    height: 400px;
    /* background-color: darkgoldenrod;
    color: black; */
  }
}