@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
  .gfg-div {
    width: 400px;
    height: 400px;
    /* background-color: orange;
    color: black; */
  }
}
 
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {
  .gfg-div {
    width: 200px;
    height: 200px;
    /* background-color: red;
    color: #fff; */
  }
}
 
/* For Mobile Landscape View */
@media screen and (max-device-width: 640px)
and (orientation: landscape) {
  .gfg-div {
    width: 400px;
    height: 200px;
    /* background-color: cyan;
    color: black; */
  }
}
 
/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
  .gfg-div {
    width: 400px;
    height: 200px;
    /* background-color: chartreuse;
    color: black; */
  }
}
 
/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
  .gfg-div {
    width: 400px;
    height: 400px;
    /* background-color: brown;
    color: black; */
  }
}
 
/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
  .gfg-div {
    width: 400px;
    height: 400px;
    /* background-color: cornflowerblue;
    color: black; */
  }
}
 
/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px)
and (-webkit-min-device-pixel-ratio: 3) {
  .gfg-div {
    width: 400px;
    height: 400px;
    /* background-color: darkgoldenrod;
    color: black; */
  }
}




nav
{
    margin:0px;
    overflow:hidden;
    background-color:rgba(0, 0, 0, 1);
    /* background: rgba(150, 118, 118, 0.4);
  border-bottom: 1px solid rgba(225,225,225,0.5); */
  z-index: 1000;
    height: 5.5rem;
   
}
body
{
    padding: 0px;
}
.home
{
    height:100vh;
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url("background_img.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    
    background-blend-mode: darken;

}

.ROBOCON
{
   background: url(background.jpg);
   
   background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    /* margin-top: 18%; */

}
.about
{
   background: url(background.jpg);
   
   background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    


}
.legacy
{
   background: url(background.jpg);
   
   background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    

}
.contact
{
    background: url(background.jpg);
    
    background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
}
.team
{
    background: url(background.jpg);
    
    background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
}
header
{
    padding-top: 4.5%;
    padding-right: 10%;
}
/* .contact-us
{
    /* background-color: #fbc219; */
    /* border-radius: 2px; */
    
    
 */
a:link
{
    color:white;
}
a:visited
{
    color:white;
}
a:hover
{
    color:white;
}
a:active
{
    color:white;
}
button
{
    /* border-color:#fbc219; */
    box-shadow: 10px 10px ;
    padding: 0.05% 0.0001%;
    height: 27%;
    
}

li {
    font-size: 1.6rem;
    line-height: 19px; letter-spacing: 0em;
    display: block;
   
}
.nav justify-content-end>li{
    border-right: 1px solid #000;
  }
hr
{
    height: 100px;
    color:#fbc219;
}
/* #center1
{
    width: 50.9611px; 
    height: 40.0777px;
    align-items:center;
} */
/* #center2
{
    width: 120.608px; height: 120.723px
} */
#title
{
    font-weight: 800;
    font-style: normal;
    color: rgb(251, 194, 25);
    font-size:70px;
    

}
.neonText {
    font-size: 80px;
  color: rgba(254,220,119,1);
  font-size: 80px;
  backdrop-filter: blur(3px);


  text-align: center;

  text-shadow: 0 0 10px #ffe, 0 0.3 20px #ffe, 0 0 30px rgba(254,220,119,1), 0 0 40px rgba(254,220,119,1) , 0 0 50px rgba(254,220,119,1), 0 0 60px rgba(254,220,119,1), 0 0 70px rgba(254,220,119,1);

  /* -webkit-animation: glow 15s ease-in-out infinite alternate;
  -moz-animation: glow 15s ease-in-out infinite alternate;
  animation: glow 15s ease-in-out infinite alternate;
 
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgba(254,220,119,1), 0 0 40px rgba(254,220,119,1) , 0 0 50px rgba(254,220,119,1), 0 0 60px rgba(254,220,119,1), 0 0 70px rgba(254,220,119,1);
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px rgba(254,220,119,1), 0 0 40px rgba(254,220,119,1), 0 0 50px rgba(254,220,119,1), 0 0 60px rgba(254,220,119,1), 0 0 70px rgba(254,220,119,1), 0 0 80px rgba(254,220,119,1);
    } */
  }
/* #arrow
{
    position: relative;
    top: 0;
    left: 0;
    
    width: 3%;
    height: 3%;
    align-content: center;
    transform: rotate(180deg);
    
} */
.mainimg
{
    width: 40%;
    height: 50%;
    align-items:center;

}
.images
{
    margin-left: 40%;
    margin-right:30%;
    padding-top: 0.5rem;
   
}
nav
{
    padding-top: 2%;
    padding-right:4%;
}
.yeltxt
{
    color: rgba(254,220,119,1);
    font-size: 1.8rem;
}
.whitetxt
{
    color:white;
    font-size: 1.8rem;
}
.para
 {
    color: white;
    font-style:normal;
    font-weight: 750;
    padding: 5px 100px; /*150*/
    font-size:25px; 

 }
 .header
 {
     /* padding-top: 4.5%;
     padding-right: 10%; */
     color:#fbc219;
     font-size: 5rem;
     padding:7% 30%;
 }
 .header-line
 {
    border-top: 8px dashed;
    width: 50%;
 }
 .right{
    float:right;
    font-size: 1.5rem;
    padding-right: 15cm;
    color:whitesmoke;
}
.left
{
    font-size: 1.5rem;
    color:whitesmoke;
    text-decoration-color: whitesmoke;
    /* text-decoration:underline; */
    font-weight: 400;
    padding-left: 15cm
}
/* .contact-card
{
    /* padding:7% 30%; */
    /* color: whitesmoke;
    font-size: 1.5rem;
    
    
}*/  
